python-dateutil 
requests 
selectorlib 
requests 
pandas 
numpy 
scikit-learn 
nltk 
matplotlib 
seaborn 
wordcloud 
textblob 
sentence-transformers 
transformers 
torch 
tqdm 
imbalanced-learn
ipykernel